#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;
}

ul.products-list {
  padding-top: 2.5rem;
  display: block;
  list-style: none;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.item.first {
  float: left;
  width: 49%;
}

.item.second {
  float: right;
  width: 49%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: stretch;
  align-items: stretch;
}

.item img {
  height: 150px;
  width: 150px;
}

.item h5.name {
  text-transform: uppercase;
  font-weight: 600;
}

.product-info {
  margin-left: 1rem;
}

.action {
  margin-top: 0.5rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  align-items: center;
}

.control {
  margin-left: 5px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  align-items: center;
}

.items-left {
  padding: 3px 10px;
  display: inline-block;
  border: 1px var(--main-red) solid;
  cursor: default;
}

#bottom-content {
  margin-top: 3rem;
  padding: 0 9rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.paid table {
  padding: 2rem;
  border: 1px solid var(--main-red);
  border-radius: 0.5em;
}

.paid td:nth-child(2) {
  padding-left: 10px;
}

.btn {
  height: 20px;
  width: 20px;
  margin: 0 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: center;
  justify-content: center;

  -ms-flex-align: center;
  align-items: center;

  color: #fefefe;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  border-radius: 50%;
  background: var(--main-red);

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.disable {
  background: var(--main-grey) !important;
  cursor: default !important;
}

.buttons {
  margin-top: 2.5rem;
  float: right;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.buttons > input[type='submit'] {
  width: 100px;
  height: 50px;
  margin: 0 1rem;

  color: #fefefe;
  border-radius: 0.5em;
  outline: none;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  cursor: pointer;
}

.confirm {
  background: var(--main-green);
}

.confirm:hover {
  background: var(--main-green-hover);
}

.cancel {
  background: var(--main-red);
}

.cancel:hover,
.btn:not(.disable):hover {
  background: var(--main-red-hover);
}

@media (max-width: 700px) {
  .item img {
    height: 100px;
    width: 100px;
  }
}
