:root {
  --main-white: #fdf7dc;
  --main-black: #272343;
  --main-grey: #bbbbbb;
  --main-blue: #00d1ff;
  --main-blue-hover: #00fff0;
  --secondary-blue: #3d6cb9;
  --main-green: #01c73c;
  --main-green-hover: #4dd776;
  --main-red: #ee2a1f;
  --main-red-hover: #f1544b;
  --main-pink: #ff62b0;
  --main-brown: #b11500;
  --main-yellow: #fccc1d;

  --text-color: var(--main-black);
  --background-color: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  color: var(--text-color);
  background: var(--background-color);
}

body.dark {
  --text-color: var(--main-white);
  --background-color: var(--main-black);
}

a {
  color: var(--text-color);
}

body.dark .sidebar__nav a,
body.dark .sidebar__direct a {
  color: var(--main-black);
}

body.dark .sidebar__direct a:hover {
  color: var(--main-red);
}

.page-wrapper {
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 30%;
  max-width: 300px;
  position: fixed;
  margin-left: calc(max(calc(-30% + 30px), -270px));

  padding: 5vh 0 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;

  -ms-flex-align: center;
  align-items: center;

  -ms-flex-pack: justify;
  justify-content: space-between;

  background: var(--main-white);

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

.sidebar.expand {
  margin-left: 0;
}

.sidebar:not(.expand) .sidebar__logo,
.sidebar:not(.expand) .sidebar__nav a {
  background: inherit;
  cursor: default;
  pointer-events: none;
}

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: center;
  justify-content: center;
}

.logo {
  width: 65%;
  height: auto;
  -webkit-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
}

.sidebar__nav {
  width: 100%;
  margin: 2vh 0 2vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: center;
  justify-content: center;

  -ms-flex-direction: column;
  flex-direction: column;

  list-style-type: none;
}

.sidebar__nav a {
  margin: 2vh 0;
  padding: 2.7vh 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  align-items: center;

  -ms-flex-pack: center;
  justify-content: center;

  font-size: 18px;
  text-decoration: none;

  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.sidebar__nav a:hover {
  background: var(--main-red);
  color: var(--text-color);
}

.sidebar_nav a span {
  display: block;
  height: 47.5%;
}

.sidebar__direct {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.sidebar__direct a {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.sidebar__direct a:hover {
  color: var(--main-red);
}

.sidebar__direct i {
  font-size: 22px;
}

.sidebar__button {
  height: 50px;
  width: 50px;
  top: 50px;
  right: -25px;

  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: center;
  justify-content: center;

  -ms-flex-align: center;
  align-items: center;

  background: var(--main-red);
  border-radius: 50%;

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  cursor: pointer;
}

.sidebar__button:hover {
  background: var(--main-red-hover);
}

.sidebar__button i {
  font-size: 22px;
  color: var(--main-white);
}

.dot,
.bar {
  display: block;
}

.dot.hidden,
.bar.hidden {
  display: none;
}

.container {
  min-height: 100vh;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;
}

.container header {
  text-align: center;
  margin: 5rem 0;
}

.container main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container main > * {
  margin: auto;
}

.container footer {
  height: 3rem;
  width: 100%;
}

@media (max-width: 800px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    max-width: none;

    margin-left: 0;
    margin-top: calc(-100vh + 100px);
    padding: 40px 0 110px;
    background: var(--main-red);
  }

  .sidebar.expand {
    margin-top: 0;
  }

  .sidebar__logo {
    display: none;
  }

  body.dark .sidebar__nav a,
  body.dark .sidebar__direct a {
    color: var(--main-white);
  }

  body.dark .sidebar__direct a:hover {
    color: var(--main-yellow);
  }

  .sidebar__nav a {
    margin: 1.5vh 0;
    padding: 3vh 0;
    color: var(--main-white);
  }

  .sidebar__nav a:hover {
    color: var(--main-white);
    background: var(--main-red-hover);
  }

  .sidebar__direct {
    width: 60%;
  }

  .sidebar__direct a {
    color: var(--main-white);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  .sidebar__direct a:hover {
    color: #ffee00;
  }

  .sidebar__button {
    height: 50px;
    width: 50px;
    top: 25px;
    right: 35px;

    position: fixed;
    background: transparent;
  }

  .dot {
    display: none !important;
  }

  .bar {
    display: block !important;
  }

  .container {
    padding-top: 5rem;
  }

  .container main {
    padding: 0;
  }
}

@media (max-width: 800px) and (max-height: 800px) {
  .sidebar {
    padding-top: 20px;
  }
}

@media (max-width: 800px) and (max-height: 700px) {
  .sidebar {
    margin-top: calc(-100vh + 80px);
    padding: 20px 0 90px;
  }

  .sidebar i {
    font-size: 18px;
  }

  .sidebar__nav a {
    margin: 1.2vh 0;
    padding: 2.5vh 0;
  }

  .sidebar__button {
    top: 15px;
    right: 25px;
  }
}

@media (max-width: 800px) and (max-height: 600px) {
  .sidebar {
    margin-top: calc(-100vh + 60px);
    padding: 10px 0 70px;
  }

  .sidebar__nav a {
    margin: 1.2vh 0;
    padding: 2vh 0;
    font-size: 18px;
  }

  .sidebar__button {
    height: 40px;
    width: 40px;
    top: 10px;
    right: 20px;
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  .sidebar {
    padding-top: 0;
  }

  .sidebar__nav a {
    margin: 1vh 0;
    padding: 1.5vh 0;
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  .sidebar__nav a {
    margin: 0.5vh 0;
    font-size: 17px;
  }
}
