:root {
  --main-white: #fdf7dc;
  --main-black: #272343;
  --main-grey: #bbbbbb;
  --main-blue: #00d1ff;
  --main-blue-hover: #00fff0;
  --secondary-blue: #3d6cb9;
  --main-green: #01c73c;
  --main-red: #ee2a1f;
  --main-red-hover: #f1544b;
  --main-pink: #ff62b0;
  --main-brown: #b11500;
  --main-yellow: #fccc1d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  color: var(--main-black);
}

a {
  color: var(--main-black);
}

.sidebar {
  height: 100%;
  width: 30%;
  max-width: 300px;
  position: fixed;
  margin-left: calc(max(calc(-30% + 30px), -270px));

  padding: 10rem 0 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  background: var(--main-white);
  transition: all 0.5s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

.sidebar.expand {
  margin-left: 0;
}

.sidebar:not(.expand) .sidebar__logo,
.sidebar:not(.expand) .sidebar__nav a {
  background: inherit;
  cursor: default;
  pointer-events: none;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  transform: translateY(-4rem);
}

.logo {
  width: 65%;
  height: auto;
  transform: translateX(0.5rem);
}

.sidebar__nav {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.sidebar__nav a {
  margin: 1rem 0;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  text-decoration: none;
  transition: all 0.1s ease;
}

.sidebar__nav a:hover {
  background: var(--main-red);
  color: var(--main-black);
}

.sidebar_nav a span {
  display: block;
  height: 47.5%;
}

.sidebar__direct {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.sidebar__direct a {
  transition: all 0.1s ease;
}

.sidebar__direct a:hover {
  color: var(--main-red);
}

.sidebar__direct i {
  font-size: 22px;
}

.sidebar__button {
  height: 50px;
  width: 50px;
  top: 50px;
  right: -25px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--main-red);
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar__button:hover {
  background: var(--main-red-hover);
}

.sidebar__button i {
  font-size: 22px;
  color: var(--main-white);
}

.dot,
.bar {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .sidebar {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-top: calc(-100vh + 45px * 2);
    background: var(--main-red);
  }

  .sidebar.expand {
    margin-top: 0;
  }

  .sidebar__logo {
    display: none;
  }

  .sidebar__nav {
    margin-top: 5rem;
  }

  .sidebar__nav a {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    color: var(--main-white);
  }

  .sidebar__nav a:hover {
    color: var(--main-white);
    background: var(--main-red-hover);
  }

  .sidebar__direct {
    width: 50%;
    margin-bottom: -5rem;
  }

  .sidebar__direct a {
    color: var(--main-white);
    transition: all 0.1s ease;
  }

  .sidebar__direct a:hover {
    color: #ffee00;
  }

  .sidebar__button {
    height: 50px;
    width: 50px;
    top: 12px;
    right: 50px;

    position: fixed;
    background: transparent;
  }

  .dot {
    display: none;
  }

  .bar {
    display: block !important;
  }

  .container {
    padding-top: 10rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.container header {
  text-align: center;
  margin: 5rem 0;
}

.container main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container main > * {
  margin: auto;
}

.container footer {
  height: 3rem;
  width: 100vw;
}
