:root {
  --main-white: #fdf7dc;
  --main-black: #272343;
  --main-blue: #00d1ff;
  --main-red: #ee2a1f;
  --main-red-hover: #f1544b;
  --main-blue-hover: #00fff0;
  --secondary-blue: #3d6cb9;
  --main-yellow: #fccc1d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

     -ms-flex-align: center;
        align-items: center;

     -ms-flex-pack: center;
   justify-content: center;

  background: var(--main-white);
}

input {
  outline: none;
}

.hide {
  color: transparent !important;
  visibility: hidden !important;
}

main {
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

     -ms-flex-direction: column;
         flex-direction: column;

     -ms-flex-align: center;
        align-items: center;

  background: #fefefe;
  border: 1px var(--main-red) solid;
  border-radius: 0.2em;
}

form {
  margin-top: 1rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

     -ms-flex-direction: column;
         flex-direction: column;
}

form > div {
  position: relative;
  margin: 0.5rem 0;
}

form > div > label:not(.warning) {
  width: 40%;
  float: left;
}

form > div > input {
  width: 60%;
  float: right;
  padding: 0.3rem 0 0.3rem 0.5rem;
  border-radius: 0.2em;

  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

form > div > input:focus {
  -webkit-box-shadow: inset 1px 1px var(--main-red), inset -1px -1px var(--main-red), 0 0 2px var(--main-red);
          box-shadow: inset 1px 1px var(--main-red), inset -1px -1px var(--main-red), 0 0 2px var(--main-red);
}

form > div > input {
  border: 1px var(--main-red) solid;
  z-index: -1;
}

.warning {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  display: block;

  color: var(--main-yellow);
  font-size: 18px;
  cursor: pointer;

  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.warning-box {
  position: absolute;
  top: -30px;
  right: -35px;
  padding: 3px 6px;

  visibility: hidden;
  background: #fefefe;
  color: transparent;
  font-size: 12px;

  border: 1px solid transparent;
  border-radius: 0.3em;
  z-index: 1;

  -webkit-transition: all 0.07s ease;
          transition: all 0.07s ease;
}

.warning-box::after {
  content: '';
  position: absolute;
  left: calc(50% - 4px);
  bottom: -5px;

  width: 8px;
  height: 8px;
  visibility: hidden;

  background: #fefefe;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  -webkit-transition: all 0.03s ease;
          transition: all 0.03s ease;

  z-index: 1;
}

.warning:not(.hide):hover + .warning-box {
  visibility: visible;
  color: inherit;
  border-color: inherit;
}

.warning:not(.hide):hover + .warning-box::after {
  visibility: visible;
  background: #fefefe;
  border-left-color: inherit;
  border-bottom-color: inherit;
}

#login {
  padding: 1rem 0;
  margin: 2rem 0 1rem;

  color: var(--main-white);
  background: var(--main-red);
  border-radius: 2em;

  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
          
  cursor: pointer;
}

#login:hover {
  background: var(--main-red-hover);
}

.notification {
  visibility: visible;
  color: #272343;
  
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}