table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse ;
    width: 100%;
}
th {
    background-color: var(--main-red);
    border: 1px solid white;
    border-top: 1px solid var(--main-red);
    color: white;
    padding: 8px;
}
th:nth-child(1) {
    border-left: 1px solid var(--main-red);
}
  
th:nth-child(10) {
    border-right: 1px solid var(--main-red);
}

td{
    border: 1px solid var(--main-red);
    padding: 8px;
}