table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--main-red);
  border: 1px solid #fefefe;
  border-top: 1px solid var(--main-red);
  color: #fefefe;
  padding: 8px;
}

body.dark th {
  border-color: var(--text-color);
}

td {
  border: 1px solid var(--main-red);
  padding: 8px;
}

body.dark td {
  border-color: var(--main-text-color);
}

.container main {
  text-align: center;
  width: 100%;
}

/* pagination */

#pagination {
  margin-top: 21px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#pagination a,
#pagination i {
  display: inline-block;
  width: 42px;
}

#pagination a {
  padding: 9px;
  font-size: 19px;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid var(--main-red);
  background-color: var(--main-red);
  color: #fefefe;
}

#pagination i {
  margin: 0 3px 0 3px;
  font-size: 29px;
  color: var(--main-red);
}

#pagination a.current {
  background-color: #fefefe;
  color: var(--main-red);
}

#pagination a:hover:not(.current) {
  background-color: #f55c54;
}
