table {
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  padding: 8px;
  color: #fefefe;
  background-color: var(--main-red);
  border: 1px solid #fefefe;
}

body.dark th {
  border-color: var(--text-color);
}

td {
  padding: 8px;
  border: 1px solid var(--main-red);
}

body.dark td {
  border-color: var(--main-text-color);
}

th:nth-child(1),
th:nth-child(10) {
  border-left: 1px solid var(--main-red);
}

.container main {
  margin-top: 0;
  text-align: center;
}
