html {
  scroll-behavior: smooth;
}

table {
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  padding: 8px;
  color: #fefefe;
  background-color: var(--main-red);

  border: 1px solid #fefefe;
  border-top: 1px solid var(--main-red);
}

th:nth-child(7) {
  width: 90px;
}

body.dark th {
  border-color: var(--text-color);
}

td {
  padding: 8px;
  border: 1px solid var(--main-red);
}

th:nth-child(1) {
  border-left: 1px solid var(--main-red);
}

th:nth-child(10) {
  border-right: 1px solid var(--main-red);
}

th:nth-child(5),
th:nth-child(6),
th:nth-child(7) {
  min-width: 90px;
}

th:nth-child(6) {
  min-width: 95px;
}

body.dark td {
  border-color: var(--main-text-color);
}

.container main {
  max-width: 2000px;
  text-align: center;
}

/* pagination */

#pagination {
  margin-top: 3rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#pagination a,
#pagination i {
  display: inline-block;
  width: 42px;
}

#pagination a {
  margin: 0 2px;
  padding: 9px;

  color: #fefefe;
  font-size: 19px;
  border: 1px solid var(--main-red);
  border-radius: 4px;

  background-color: var(--main-red);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  cursor: pointer;
}

#pagination a.current {
  color: var(--main-red);
  background-color: #fefefe;
}

#pagination a:hover:not(.current) {
  background-color: #f55c54;
}

#pagination i {
  margin: 0 3px 0 3px;
  font-size: 29px;
  color: var(--main-red);
}
