.tab-control {
  display: none;
}

.list {
  top: 0;
  position: -webkit-sticky;
  position: sticky;

  display: flex;
  justify-content: space-between;

  list-style-type: none;
  border-top: 3px var(--main-red) solid;
  background: #fefefe;
  transition: all 0.1s ease;
  z-index: 1;
}

.list * {
  z-index: 2;
}

.list > li {
  position: relative;
  height: 4.5rem;
  width: 12%;
  padding-top: 2rem;
  text-align: center;
  transition: all 0.3s ease;
}

.list > li > label {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 3;
}

.list span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: var(--main-red);
  transition: all 0.3s ease;
  z-index: -1;
}

.tab-control:nth-child(1):checked ~ ul > li:nth-child(1) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(2):checked ~ ul > li:nth-child(2) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(3):checked ~ ul > li:nth-child(3) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(4):checked ~ ul > li:nth-child(4) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(5):checked ~ ul > li:nth-child(5) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(6):checked ~ ul > li:nth-child(6) > span {
  left: 0;
  width: 100%;
}
.tab-control:nth-child(7):checked ~ ul > li:nth-child(7) > span {
  left: 0;
  width: 100%;
}

.list.scroll span {
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 100%;
  display: block;
}

.tab-control:nth-child(1):checked ~ ul.scroll > li:nth-child(1) > span {
  height: 100%;
}
.tab-control:nth-child(2):checked ~ ul.scroll > li:nth-child(2) > span {
  height: 100%;
}
.tab-control:nth-child(3):checked ~ ul.scroll > li:nth-child(3) > span {
  height: 100%;
}
.tab-control:nth-child(4):checked ~ ul.scroll > li:nth-child(4) > span {
  height: 100%;
}
.tab-control:nth-child(5):checked ~ ul.scroll > li:nth-child(5) > span {
  height: 100%;
}
.tab-control:nth-child(6):checked ~ ul.scroll > li:nth-child(6) > span {
  height: 100%;
}
.tab-control:nth-child(7):checked ~ ul.scroll > li:nth-child(7) > span {
  height: 100%;
}

.tab-control:nth-child(1):checked ~ ul.scroll > li:nth-child(1) > label {
  color: #fefefe;
}
.tab-control:nth-child(2):checked ~ ul.scroll > li:nth-child(2) > label {
  color: #fefefe;
}
.tab-control:nth-child(3):checked ~ ul.scroll > li:nth-child(3) > label {
  color: #fefefe;
}
.tab-control:nth-child(4):checked ~ ul.scroll > li:nth-child(4) > label {
  color: #fefefe;
}
.tab-control:nth-child(5):checked ~ ul.scroll > li:nth-child(5) > label {
  color: #fefefe;
}
.tab-control:nth-child(6):checked ~ ul.scroll > li:nth-child(6) > label {
  color: #fefefe;
}
.tab-control:nth-child(7):checked ~ ul.scroll > li:nth-child(7) > label {
  color: #fefefe;
}

.list > li > label {
  display: block;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease;
}

.content > * {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 0;
}

.content > *:not(.display) {
  display: none;
}

.name {
  text-transform: uppercase;
}

.name h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.name span {
  display: inline-block;
  margin-left: 1rem;
  padding: 2px 15px;
  color: var(--main-white);
  font-family: 'Piazzolla', serif;
  font-size: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.icon-p {
  background: var(--main-green);
}

.icon-13 {
  background: var(--main-yellow);
}

.icon-18 {
  background: var(--main-red);
}

.info {
  margin-top: 1rem;
}

.info * {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pics {
  width: 30%;
  min-width: 190px;
  max-width: 280px;
  float: left;
}

.pics > img {
  width: 100%;
  height: auto;
}

.timetable {
  width: 65%;
  float: left;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.timetable > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-wrap: break-word;
}

.timetable > div > a {
  height: 38px;
  width: 98px;
  padding: 9px 0;
  margin: 5px;

  text-align: center;
  text-decoration: none;
  box-shadow: inset 1px 1px var(--main-red), inset -1px -1px var(--main-red);
  transition: all 0.2s ease;
}

.timetable > div > a:hover {
  box-shadow: inset 2px 2px var(--main-red), inset -2px -2px var(--main-red), 0 0 2px var(--main-red);
}

.timetable > div > span.option {
  height: 20px;
  width: 100%;
  display: inline-block;

  margin: 5px;
  font-weight: 600;
  border: none;
}

.hr {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #ee2a1f;
}

@media (max-width: 800px) {
  .list {
    top: 100px;
  }
  .content > * {
    padding: 5px;
  }
}
