main {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: auto;
}

header {
  color: #fefefe;
  background-color: #f55c54;
}

p {
  font-size: medium;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

    -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ava {
  margin-top: 20px;
  border: 5px solid #ddd;
  border-radius: 100%;
}

.contain {
  margin: 20px;
  clear: none;
}